<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JSharp.Properties.Settings>
            <setting name="LanguageVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="saveFileExtension" serializeAs="String">
                <value>.bmp</value>
            </setting>
            <setting name="jpqSaveQuality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="pngCompressionLevel" serializeAs="String">
                <value>3</value>
            </setting>
        </JSharp.Properties.Settings>
    </userSettings>
</configuration>